/*Limpar formatações padrões*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
    font-family: "Trebuchet MS", Helvetica sans-serif;
    background: #e6e6e6;
}

/*
**** Layout **** 
*/
#area-cabecalho {
    background: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 20px;
}

#area-postagens {
    width:660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.conteudo-lateral {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.postagem-lateral {
    font-size: 0.8rem;
    padding: 5px;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
    font-size: 1.1rem;
}

/*
**** Formatação Menu ****
*/
a {
    text-decoration: none;
    font-size: 1.1rem;
}

a:link, a:visited {
    color: #f7b600;
   
}
a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #fff;
    padding: 8px 10px;
}
#area-cabecalho a:hover {
    color: #f7b600;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
}

/*
**** Formatação geral ****
*/
h1 {
    color: #4e4e4e;
    font-size: 2.5rem;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background: #ccc;
    padding: 5px;
}

.data-postagem {
    font-size: 0.8rem;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.white {
    color: #fff;
}

